<!DOCTYPE html>
<html>
  <head>
    <title>CollectionistTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <div class='language-switch'>
        <% if I18n.locale == :fr %>
          <%= link_to 'en', url_for(locale: :en) %>
        <% else %>
          <%= link_to 'fr', url_for(locale: :fr) %>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
